* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: 'San Franciso', sans-serif;
    margin: 0;
    padding: 0;
}

#FUNI-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

#FUNI-logo h1 {
    margin-left: 1rem;
    font-size: 1.25rem;
    order: 2;
}

#FUNI-logo img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    order: 1;
}

#FUNI-logo:hover {
    cursor: pointer;
    color: #4a9973;
    transition: all 0.8s ease;
}

nav {
    display: flex;
    justify-content: center;
    padding: .75rem 2rem;
    background-color: #0c1e15;
    color: white;
    font-family: 'San Franciso', sans-serif;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
}

ul li {
    margin-left: 3.5rem;
    height: 100%;
    display: flex;
    align-items: center;
}

ul li:hover {
    cursor: pointer;
    color: #2596be;
    transition: all 0.5s ease;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: #2596be;
    transition: all 0.5s ease;
}

.dropdown-content {
    text-align: center;
    display: none;
    position: absolute;
    font-size: 1rem;
    background-color: #c8c8c8;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    z-index: 1;
    top: 4%;
    border-radius: 10px;
    overflow: hidden;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    cursor: pointer;
    background-color: #8c8c8c;
}

h2 {
    background-color: #1e4a34;
    color: white;
    width: 95%;
    margin: 0 auto;
    padding: 3rem;
    text-align: center;
    border-radius: 10px;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 1.8s ease-in-out;
}

h2.show {
    opacity: 1;
}

h2:hover {
    transition: all .5s ease;
    transform: scale(1.02);
}

#top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    border: 2px solid #f3f3f3;
    width: 95%;
    margin-top: 0rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    border-top: none;
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
    background-color: #f7f7f7;
}

.top-background {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #f3f3f3;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
    padding: 5rem;
    padding-right: 8rem;
    padding-left: 8rem;
    margin-top: 1rem;
    border-radius: 10px;
}

h3 {
    font-size: 2rem;
    color: #333;
}


#previous,
#next {
    padding: .75rem;
    font-size: 1rem;
    margin: .5rem 1.25rem;
    border: 1px solid #c8c8c8;
    border-radius: 15px;
    background-color: #fafafa;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

#previous:hover,
#next:hover {
    cursor: pointer;
    transform: scale(1.1);
    border-color: #2596be;
}

.table-calendar {
    font-size: 2.5rem;
    width: 150%;
    table-layout: fixed;
    padding: 2rem;
    border-collapse: collapse;
    border-radius: 5px;
    margin-top: 1rem;
    width: 100%;
}

.table-calendar td {
    width: calc(100% / 7);
    text-align: center;
    padding: 2.25rem;
}

.footer-container-calendar {
    font-size: 1.35rem;
    font-weight: bold;
}

.footer-container-calendar select {
    padding: 0.35rem;
    font-size: 1rem;
    border: 1px solid #c8c8c8;
    border-radius: 10px;
    background-color: #fafafa;
    margin-right: .75rem;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.footer-container-calendar select:hover {
    border-color: #2596be;
    transform: scale(1.03);
}

#bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    border: 2px solid #f3f3f3;
    width: 95%;

    padding-bottom: 5rem;
    border-top: none;
    border-radius: 0px 0px 10px 10px;
    background-color: #f7f7f7;
}

.bottom-h3 {
    background-color: #1e4a34;
    color: white;
    width: 75%;
    margin: 0 auto;
    padding: 3rem;
    text-align: center;
    border-radius: 10px;
    font-size: 2rem;
}

.botton-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #f3f3f3;
    background-color: #fafafa;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px 5px 10px 10px;
    width: 75%;
    padding-bottom: 5rem;
    border-top: none;
    border-radius: 5px 5px 10px 10px;
}

.botton-container input {
    margin-top: 2.4rem;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #c8c8c8;
    border-radius: 10px;
    background-color: #fafafa;
    margin-right: .5rem;
    transition: transform 0.3s ease, border-color 0.3s ease;
    width: 100%;
    font-weight: bold;
}

.botton-container input:hover {
    border-color: #2596be;
    transform: scale(1.02);
}

.botton-container button {
    margin: 2.4rem;
    padding: 0.75rem 2rem;
    ;
    font-size: 1rem;
    border: 1px solid #c8c8c8;
    border-radius: 10px;
    background-color: #2596be;
    color: white;

}

.botton-container button:hover {
    color: #fafafa;
    background-color: #1e7898;
    cursor: pointer;
    transition: 0.3s ease;
    transform: scale(1.1);
}

.reminder-h3 {
    background-color: #1e4a34;
    color: white;
    width: 45rem;
    margin: 0 auto;
    padding: 3rem;
    text-align: center;
    border-radius: 10px;
    font-size: 2rem;
}

.container-calendar {
    opacity: 0;
    transition: opacity 4s ease-in-out;
}

.container-calendar.show {
    opacity: 1;
}

.wrapper .container-calendar {
    display: inline-block;
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
    padding: 2rem;
}

.wrapper .table-calendar {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
}