div{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
    word-spacing: 1.5px;
    letter-spacing: 1.5px;
    width: 450px;
    height: 220px;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.log-in1{
    margin-top: -20px;
    background-color: #f2f2f2;
    border: 1px solid black;
}
.log-in2{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: -70px;
    background-color: #f2f2f2;
    border: 1px solid black;
}