body {
    background-color: #ffffff;
    font-family: 'San Franciso', sans-serif;
    margin: 0;
    padding: 0;
}

#FUNI-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

#FUNI-logo h1 {
    margin-left: 1rem;
    font-size: 1.25rem;
    order: 2;
}

#FUNI-logo img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    order: 1;
}

#FUNI-logo:hover {
    cursor: pointer;
    color: #4a9973;
    transition: all 0.8s ease;
}

nav {
    display: flex;
    justify-content: center;
    padding: .75rem 2rem;
    background-color: #0c1e15;
    color: white;
    font-family:'San Franciso', sans-serif;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
}

ul li {
    margin-left: 3.5rem;
    height: 100%;
    display: flex;
    align-items: center;
}

ul li:hover {
    cursor: pointer;
    color: #2596be;
    transition: all 0.5s ease;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: #2596be;
    transition: all 0.5s ease;
}

.dropdown-content {
    text-align: center;
    display: none;
    position: absolute;
    font-size: 1rem;
    background-color: #c8c8c8;
    box-shadow: 0 8px 16px 0 rgba(0,0,0, 0.4);
    z-index: 1;
    top: 4%;
    border-radius: 10px;
    overflow: hidden;
}

#signOut {
    display: inline-block;
    text-align: center;
    padding: 0.25rem;
    background-color: transparent;
    border: none;
    font-size: inherit;
    color: white;
}

#signOut:hover {
    cursor: pointer;
    color: #8c8c8c;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    cursor: pointer;
    background-color: #8c8c8c;
}

.goal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    background-color: #1e4a34;
    color: white;
    width: 25%;
    margin-top: 2.5rem;
    padding: 3rem;
    text-align: center;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 1.8s ease-in-out;
}

h2:hover {
    transition: all .5s ease;
    transform: scale(1.03);
}

h2.show {
    opacity: 1;
}

.goal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -1.2rem;
    opacity: 0;
    transition: opacity 3s ease-in-out;
    border: 2px solid #f3f3f3;
    width: 28.5%;
    padding-bottom: 2.5rem;
    border-top: none;
    border-radius: 5px 5px 10px 10px; 
    background-color: #f7f7f7;
    transition: opacity 3s ease-in-out;
    font-weight: bold;
    font-size: 1.35rem;
}

.goal-content.show {
    opacity: 1;
}

.form-group, 
.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

.submit-button button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid #c8c8c8;
    border-radius: 10px;
    background-color: #2596be;
    color: white;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.submit-button button:hover {
    border-color: #1e7898;
    transform: scale(1.03);
    cursor: pointer;
}

.goal-content input {
    padding: 0.35rem;
    font-size: 1rem;
    border: 1px solid #c8c8c8;
    border-radius: 10px;
    background-color: #fafafa;
    margin-right: .5rem;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.goal-content input:hover {
    border-color: #2596be;
    transform: scale(1.02);

}

.completion-bar {
    margin-top: 1rem;
    width: 25rem;
    background-color: #8c8c8c;
    border-radius: 10px;
    color: #80efb8;
}

.completed-goals{
    margin-top: 5rem;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0;
}

.completed-goals-list {
    margin-top: -1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    font-weight: normal;
    padding: 0;
}

