div{
    font-family: sans-serif, helvetica;
    font-size: 18px;
    padding: 30px;
    color: whitesmoke;
    background-color: #454141;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    border: 2px solid #333;
    border-radius: 10px;
    width: 30rem;
    box-shadow: #454141 0px 54px 55px, #454141 0px -12px 30px, #454141 0px 4px 6px,  #454141 0px 12px 13px, #454141 0px -3px 5px;

}
h1{
    font-size: 38px;
    font-weight: 450;
    margin-top: 60px;
    transition: color 1.1s;
    transition: scale 1.1s;
}
h1:hover{
    color: #2596be;
    scale: 1.1;
}
.completionbar{
    margin-top: 20px;
    width: 100%;
    height: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
}
